
/* The most basic form of CSS reset. Keep it simple for now until a full-blown reset stylesheet is needed. */
* { margin: 0; padding: 0; border: none; list-style-type: none; text-decoration: none; }
a, a:active, a:visited, a:focus { color: inherit; }
dl { line-height: 0em; } /* brutal "hack" to make whitespace between <dl>'s list elements insignificant */
dt,dd { line-height: normal; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* basic options for the body */
body {
	background: white;	
	color: #444; /* font settings inherited throughout document */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

header {
	background: #0a304e;
	padding: 0 4% 0.5em 4%;
}

main, aside, footer {
	margin: 1em 4% 0 4%;
}

form[role="search"], header img {
	margin: 1em auto 1em auto;
	display: block;
	width: 100%;
}

h1, h2, h3, h4, nav ul {
	text-align: center;
}

header nav a {
	display: block;
	width: 40%;
	margin-left: 60%;
}

header nav a h4 {
	background: rgba(255, 255, 255, 0.1);
	color: #ddd;
	font-size: 100%;
	font-weight: normal;
	text-transform: lowercase;
	text-align: center;
	padding:  0.5em 0 0.5em 0;
}

header nav a h4:before {
	content: "☰";
	padding-right: 5%;
	font-size: 200%;
	vertical-align: -0.1em;
}

header nav a h4 {
	cursor: pointer;
}

form[role="search"] p {
	height: 1.6em;
	background: lightgray;
}

input[type="search"] {
	border: none;
	background: lightgray;
	font-size: 100%;
	width: 90%;
	padding: 0 0 0 2%;
	height: 100%;
}

form[role="search"] input[type="submit"] {
  background: url("images/magnify-search-icon.png") no-repeat center right;
	background-size: contain;
	background-color: lightgray;
	border: none;
	width: 10%;
	height: 100%;
	vertical-align: top;
}

header nav ul {
	display: none;
}

header nav a:active + ul,
header nav a:focus + ul {
	display: block;
}

ul li, ul li a {
	color: #0a304e;
	text-align: center;
	margin: 0;
	width: 100%;
}

ul li {
	background: #ddd;
	border-top: 1px solid white;
	border-bottom: 1px solid #bbb;
	padding: 0.5em 0 0.5em 0;
}

@media only screen and (min-width: 600px) {
	h4 {
		display: none;
	}

	header img {
		float: left;
		display: inline-block;
		padding: 1em 0 0 0;
		margin: 0;
		width: 30%;
	}

	header nav {
		display: inline-block;
		margin: 3.5% 0 2% 5%;
		width: 65%;
	}

	header nav ul, header nav form[role="search"] {
		display: inline-block;
		padding: 0;
		margin: 0;
	}

	header nav ul {
		width: calc(60% - 5px);
	}

	header nav form[role="search"] {
		width: 40%;
		margin: 0 0 0 0%;
	}

	header nav ul li {
		display: inline-block;
		border: none;
		background: transparent;
		padding: 0;
		margin: 0;
		width: 20%;
		text-align: left;
	}

	header nav ul li a,
	header nav ul li a:link,
	header nav ul li a:visited,
	header nav ul li a:hover,
	header nav ul li a:active {
		color: white;
		display: inline;
		font-weight: normal;
		font-size: 80%;
		padding: 0;
		border: none;
		margin: 0;
	}

	header nav ul li a:hover { text-decoration: underline; }
}



main {
	color: black;
}

h1, h2 {
	margin-bottom: 0.5em;
}

h1 {
	font-size: 150%;
	text-align: left;
	border-bottom: solid 1px lightgrey;
}

h2 {
	font-size: 125%;
}

main p {
	padding: 0.5em 0 0.5em 0;
}

ol li {
	list-style: disc;
	width: 90%;
	margin: 0 auto 0 auto;
}

ol li ol li {
	list-style: circle;
}

main a, main a:link {
	color: #0000EE;
	text-decoration: underline;
}

main a:visited {
	color: #551A8B;
}

main a:hover {
	text-decoration: none;
}

main strong {
	font-weight: bold;
}

main mark {
	background: yellow;
}

main form {
	margin: 0 auto 0 auto;
}

main p {
	display: block;
	padding: 0;
	margin: 1em 0 1em 0;
}

main dl {
	border: solid 1px black;
	font-size: 80%;
}

main form p label,
main form p input[type="text"],
main form p input[type="date"],
main dt,
main dd {
	display: inline-block;
}

main form p label, main dt {
	font-weight: bold;
	width: 50%;
	text-align: center;
}

main dt, main dd {
	width: 50%;
	overflow: scroll;
	padding: 0.2em 0 0.2em 0;
}

main dt:nth-of-type(odd), main dd:nth-of-type(odd) { 
	background: lightgray;
}

main form p input[type="text"],
main form p input[type="date"],
main form p input[type="password"],
main form p input[type="email"] {
	border: solid 1px black;
	font-size: 100%;
	padding: 0.2em 0 0.2em 2%;
	width: 45%;
	background: lightgray;
}

main form p input[type="text"]:focus,
main form p input[type="date"]:focus,
main form p input[type="password"]:focus,
main form p input[type="email"]:focus {
	background: white;
}

main form p:last-of-type {
  text-align: center;
	margin: 1.5em 0 2.5em 0;
}

main form p input[type="submit"] {
	width: auto;
	padding: 0.5em;
	font-weight: bold;
	background: #ddd;
	box-shadow: 3px 3px 1px #888888;
	border-radius: 8px;
}

main #error {
	border: solid 1px red;
	background-color: #FF82AB;
	font-weight: bold;
	border-radius: 1em;
	margin: 0 auto 0 auto;
}

main #error p {
	padding: 0 2% 0 2%;
}

@media only screen and (min-width: 600px) {
	main {
		width: 76%;
		float: right;
		padding: 0;
		margin: 1em 4% 0 0;
	}	

	h1, h2 {
		margin-bottom: 1em;
	}

	main form {
		margin: 2em auto 1em auto;
		border: solid 1px lightgray;
	}

	main dl {
		margin: 2em auto 1em auto;
	}

	main dt, main dd {
		overflow: auto;
		word-wrap: break-word;
		vertical-align: top;
	}
}

@media only screen and (min-width: 800px) {
	main form, mail dl, main #error { width: 80%; }
}

@media only screen and (min-width: 1000px) {
	main form, mail dl, main #error { width: 70%; }	
}

@media only screen and (min-width: 1100px) {
	main form, mail dl, main #error { width: 65%; }	
}

@media only screen and (min-width: 1200px) {
	main form, mail dl, main #error { width: 60%; }	
}

@media only screen and (min-width: 1400px) {
	main form, mail dl, main #error { width: 50%; }	
}
















#its-sections, #its-about {
	display: none;
}

@media only screen and (min-width: 600px) {
	#its-sections, #its-about {
	  display: block;
		margin-bottom: 1em;
  }

	aside {
		width: 15%;
		margin: 1em 0 0 4%;
	}

	h3 {
		text-align: left;
		color: black;
		font-size: 100%;
		margin: 0 0 0.5em 0;
	}

	aside nav ul li {
		border: none;
		margin: 0;
		padding: 0;
	}

	aside nav ul li a {
		padding: 0.2em 0 0.2em 2%;
		font-size: 80%;
		border: none;
		color: white;
		font-weight: bold;
		text-align: left;
		display: block;
		width: 98%;
	}

	aside nav ul li a:hover {
		color: #666;
	}


	#its-sections li {
		margin-bottom: 0.2em;
		border-bottom: solid 1px #0a304e;
		border-right: solid 1px #0a304e;
		width: calc(98% - 1px);
	}

	#its-sections li a {
		background: lightgray;
		color: #0a304e;
	}

	#its-sections li a:hover {
		color: white;
		background: #0a304e;
	}


	#its-about li {
		margin-bottom: 0.2em;
		border-bottom: solid 1px #0a304e;
	}

	#its-about li a {
		background: white;
		color: #0a304e;
	}

	#its-about li a:hover {
		color: lightgrey;
	}


	#its-tools li {
		border-bottom: solid 1px white;
	}

	#its-tools li a {
		background: #0a304e;
		color: white;
	}

	#its-tools li a:hover {
		color: lightgrey;
	}

	aside form[role="search"] input[type="search"] {
		width: 85%;
		font-size: 75%;
	}

	aside form[role="search"] input[type="submit"] {
		width: 15%;
	}
}

footer {
	color: #666;
	text-align: center;
	clear: right;
	padding-top: 2.5em;
	font-style: italic;
	margin-bottom: 0.5em;
}

footer a, 
footer a:link, footer a:visited, 
footer a:hover, footer a:active {
	color: #3168a6;
	text-decoration: underline;
}




@keyframes slidedownfromtop {
  from {
    margin-top: -6em;
  }

  to {
    margin-top: 0;
  }
}



form#simulate {
	background: rgba(0, 0, 0, 0.8);
	background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0.3), rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3));
  width: 100%;
	padding: 1em 0 1em 0;
	
	position: absolute;
	
	animation-name: slidedownfromtop;
	animation-duration: 2s;
}

#simulate ul {
	background: transparent;
	margin: 0 auto 0 auto;
	padding: 0;
	width: auto;
	text-align: center;
}

#simulate ul li {
	border: none;
	background: transparent;
	display: inline-block;
	margin: 0 0.2% 0 0.2%;
	padding: 0;
	width: auto;
}

#simulate ul li input {
	background: yellow;
	color: black;
	border-radius: 8px;
	padding: 0.2em;
	font-weight: bold;
	border-bottom: solid 2px #cccc00;
	border-right: solid 2px #cccc00;
}